# Dependencies
node_modules/
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
.docker/
docker-compose.override.yml

# System Files
.DS_Store
Thumbs.db 